.sign-in-container{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    width:380px;
    color: #fff;
}

.sign-in-button-container{
    display: flex;
    width:100%;
    gap: 0 0.4em;
}
