.watch-list-page{
    height: 100vh;
    overflow-y: overlay;
    padding-left:20em;
}

.watch-list-page::-webkit-scrollbar{
    display: none;
}

.watch-list-container{
    width:70vw;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
}

.empty{
    padding:5em 0;
    color:#fff;
    font-size: 4rem;
}

@media (max-width:768px){
    .watch-list-page{
        width:100vw;
        height: 100vh;
        padding: 0 20px;
    }
    .watch-list-container{
        width: 100%;
    }
    .empty{
        padding:5em 0;
        color:#fff;
        font-size: 2rem;
    }
}