.category{
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:0.5em;
    overflow: hidden;
}
.category-container{
    height: 288px;
    position: relative;
    width: 100%;
}

.container{
    height: 100%;
    width: max-content;
    display: flex;
    gap: 0 0.5em;
    transition: all 1s ease;
    overflow-x: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}


.category-type{
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    backdrop-filter: blur(2px) saturate(30%);
    -webkit-backdrop-filter: blur(2px) saturate(30%);
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    opacity: 0;
    transition: all 1s ease;
    cursor: pointer;
}

.forward{
    position:absolute;
    right:12px;
    top:100px;
    z-index: 10;
}

.backward{
    position:absolute;
    left:12px;
    top:100px;
    z-index: 10;
}

.arrow-container svg{
    font-size: 30px;
}

.category-container:hover .arrow-container{
    opacity: 1;
}


@media (max-width:768px){
    .category{
        height: 260px;
    }
    .category-container{
        height:258px;
    }
}